.exist-container{
    color:#202A44;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading{
    display: flex;
    justify-content: space-between;

}
.link-add button{
    background: none;
    border: none;
    background-color: #1B365D;
    color:#ffffff;
    cursor: pointer;
    
}
.link-add{
    display: flex;
    gap: 5px;
    padding: 15px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: #1B365D;
    color:#ffffff;
    margin-top: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* Search Bar */
.search-container,.table-container{
    margin-top: 10px;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.form-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.form-search .input-group{
    display: flex;
    flex-direction: column;
}
.form-search .input-group label{
    font-size: 16px;
    margin-bottom: 2px;
}
.form-search .input-group .input{
    border: none;
    background-color: rgba(224, 227, 229, 0.542);
   border-radius: 10px;
    height: 25px;
    padding: 2px 10px;
    width:220px
}
.form-search .input-group .submit-btn{
    border: none;
   padding: 10px;
   background-color: #1B365D;
   color:#c9daf1 ;
 
   border-radius: 20px;
   font-size: 18px;
}
.form-search .input-group .submit-btn:hover{
    background-color: #26497a;
}

/* table style */

.tbody {
   text-align: center;
   padding: 5px;
}
.tbody td{
    padding: 5px;
}
.tbody .btn{
    width:45px;
    height:30px;
    border: none;
    color:#ffffff;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
}
.tbody .btn:hover{
    background-color: #1f3553;
    color:#c9daf1;
}
.tbody .edit{
    background-color: #5783db;
}
.tbody .update{
    background-color: #55c2da;
}
.tbody .delete{
    background-color: #E34234;
}

#delete:hover{
    background-color: #e71717;
    color:#c9daf1;
}
