.carousel{
    box-sizing:border-box;
}
/* Add this to LandingPage.css */
.card {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .animate-card {
    opacity: 1;
  }
  
  .animate-card-left {
    transform: translateX(-100px); /* Initial position for cards coming from the left */
  }
  
  .animate-card-right {
    transform: translateX(100px); /* Initial position for cards coming from the right */
  }
  

  /* footer */

  .footer {
    margin-top: 50px;
   
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #fff;
    padding: 50px;
    
    border-radius: 5px;
    align-items: center;
    float: inline-end;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
  }
  
  .footer-bottom {
    text-align: center;
    
    border-top: 1px solid #777;
  }
  